@charset "utf-8";

span {
	font-family: Courier;	
	font-size: 14px;
}

.example {
    background-color:#c8c5ac;
    padding:5px;
    margin-bottom:10px;
    width="100";
}

.example-content {
	font-family: verdana,helvetica,sans-serif;
	font-size: 12.0px; 
}

.const {
	font-family: Courier;
	font-size: 16px;
}

pre {
    display:block;
    background-color:#F5F5F5;
    color:#333;
    overflow:auto;
    padding:10px 20px;
}